.Button {
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  cursor: pointer;
  font: inherit;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.Button:first-of-type {
  margin-left: 0;
  padding-left: 0;
}

.Button:disabled {
  color: #ccc;
  cursor: not-allowed;
  background-color: grey;
}

.Success {
  color: white;
  background-color: #5c9210;
  border-radius: 10px;
}

.Danger {
  color: #944317;
  text-decoration: underline;
}
